<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Statistics</title>
	<link href="../web/css/styles.css" rel="stylesheet" />
	<link href="../web/img/4ace.png" rel="shortcut icon" type="image/x-icon">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
	<!-- Styles -->


	<!-- Resources -->
	<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
	<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
	<script src="https://cdn.amcharts.com/lib/4/themes/frozen.js"></script>
	<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

	<!-- Chart code -->
	<script src="../web/js/chart.js"></script>
	<script src="../web/js/clock.js"></script>

</head>

<body>
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
		<button class="side_menu"><img class="menu_img" src="../web/img/menu.png"></button>
		<a class="navbar-brand" href="camera1.html">Street Eye</a>
		<ul class="navbar-nav">

			<li class="nav-item unactive"><a class="nav-link" href="camera1.html">카메라</a>

			</li>

			<li class="nav-item active"><a class="nav-link" href="statics.html">통계</a></li>
		</ul>

		<span id="clock" class="time"></span>

		<!-- Navbar Search-->


		<!-- Navbar-->
		<ul class="navbar-nav ml17">
			<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
						class="fas fa-user fa-fw"></i></a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
					<a class="dropdown-item" href="#">Settings</a> <a class="dropdown-item" href="#">Activity Log</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="login.html">Logout</a>
				</div>
			</li>
		</ul>
	</nav>
	
	<div id="layoutSidenav">
		<div class="toggle1" id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav">
						<div class="sb-sidenav-menu-heading">Statistics</div>
						<a class="nav-link active" href="#" data-toggle="collapse" data-target="#collapseLayouts"
							aria-expanded="true" aria-controls="collapseLayouts">
							<div class="sb-nav-link-icon">
								<i class="fas fa-columns"></i>
							</div> 기간
						</a>
						<div class="collapse show" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<form><input type="date" class="date1" id="date1" onchange="changedate(); refreshchart();"></form>
							</nav>
							<nav style="margin-left: 90px;font-size: larger; font-weight: bolder;">~</nav>
							<nav class="sb-sidenav-menu-nested nav">
								<form><input type="date" class="date1" id="date2" onchange="changedate2(); refreshchart();"></form>
								<script src="../web/js/duration.js"></script>
							</nav>
						</div>
						<a class="nav-link active collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts1"
							aria-expanded="false" aria-controls="collapseLayouts">
							<div class="sb-nav-link-icon">
								<i class="fas fa-columns"></i>
							</div> 목록
						</a>
						<div class="collapse" id="collapseLayouts1" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<form><input type="checkbox" checked id="cars" onchange="refreshchart();"> 차량<br><input type="checkbox" checked id="trucks" onchange="refreshchart();"> 트럭
									<br><input type="checkbox" checked id="total" onchange="refreshchart();"> 통행량
								</form>
							</nav>
						</div>
					</div>
				</div>
				<div class="sb-sidenav-footer">
					KPU 졸업작품 by
					<div class="small">최인호, 황석주, 장호민, 김지우</div>
				</div>
			</nav>
		</div>
		
		<div id="layoutSidenav_content">
			<main>
				<div class="container2">
					<h1 class="mt-4">Statistics</h1>
					<div class="statics2 float-left" id="chartdiv"></div>
					<div></div>
					<div class="card float-left statics">
						<div class="card-body">
							<img class="weather" src="../web/img/high_brightness.png" id="brightnessimg">
							<img class="weather" src="../web/img/low_temperature.png" id="temperatureimg">
							<img class="weather" src="../web/img/sunny.png" id="weatherimg">
							<img class="weather" src="../web/img/bbad_dust.png" id="dustimg">
							<img class="weather" src="../web/img/accident.png">
							<div class="weathertext">가로등 밝기</div>
							<div class="weathertext">기온</div>
							<div class="weathertext">날씨</div>
							<div class="weathertext">미세먼지</div>
							<div class="weathertext">차량탐지</div>
							<div class="weathertext2" id="brightness" onchange="changebrightness()">80%</div>
							<div class="weathertext2" id="temperature" onchange="changetemperature()">{{temp}}°C</div>
							<div class="weathertext2" id="weather" onchange="changetweather()">{{pty}}</div>
							<div class="weathertext2" id="dust" onchange="changedust()">{{finedust}}㎍/㎥</div>
							<div class="weathertext2">7건</div>
						</div>
					</div>
					
					<!--
					<div class="card float-left statics">
						<div class="card-body">
							<p class="mb-0">
								This page is an example of using static navigation. By removing
								the
								<code>.sb-nav-fixed</code>
								class from the
								<code>body</code>
								, the top navigation and side navigation will become static on
								scroll. Scroll down this page to see an example.
							</p>
						</div>
					</div>
					-->
					<div class="card float-left statics">
						<div class="card-body">
							<table class="table table-striped table-hover">
								<thead class="thead-dark">
									<tr>
										<th>날짜</th>
										<th>사고</th>
										<th>통행량</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>2/22</td>
										<td>2건</td>
										<td>150</td>
									</tr>
									<tr>
										<td>2/21</td>
										<td>4건</td>
										<td>165</td>
									</tr>
									<tr>
										<td>2/20</td>
										<td>2건</td>
										<td>148</td>
									</tr>
									<tr>
										<td>2/19</td>
										<td>4건</td>
										<td>168</td>
									</tr>
									<tr>
										<td>2/18</td>
										<td>1건</td>
										<td>120</td>
									</tr>
									<tr>
										<td>2/17</td>
										<td>0건</td>
										<td>131</td>
									</tr>
								</tbody>
							</table>
							<script src="../web/js/weather.js"></script>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
	<script src="../web/js/sidebartoggle.js">	</script>
</body>

</html>